body { 
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: #FFFBF2;
} 

#header {
    color: #222222;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: -5px;
}

p {
    font-weight: 500;
    padding: 0px 209px;
}

select {
    margin: 10px 0 0 10px;
    font-family: Franklin Gothic;
    font-size: 13px;
}

#container {
    position: absolute;
    width: 55%;
    top: 0;
    bottom: 0;
}

path {
    fill: #FFFBF2;
}

text {
    fill: #222222;
    cursor: pointer;
}

#app {
        /*https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units#lengths*/
        margin-top: 2rem;
        /*https://developer.mozilla.org/en-US/docs/Web/CSS/grid*/
        display: grid;
        /*https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids#flexible_grids_with_the_fr_unit*/
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2rem;
      }
      
      div.smithsonian-card {
        max-width: 400px;
        display: inline-block;

        vertical-align:top;
        white-space: normal;
      }
      div.smithsonian-card h2 {
        font-size: 1.2rem;
        line-height: 1.1;
        padding-bottom: 0.5em;
      }
      div.smithsonian-card div.image {
        margin-bottom: 1rem;
        width: 200px;
        height: 200px;
        display:flex;
        align-items: flex-end;
      }
      div.smithsonian-card div.image img {
        max-width: 100%;
        height: auto;
        max-height: 200px;
      }