html, body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
} 

select {
    margin: 10px 0 0 10px;
}

#container {
    position: absolute;
    width: 100%;
    top: 35px;
    bottom: 0;
}