* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E151C;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0;
}

#header {
    background-color: #0E151C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'EB Garamond', serif;
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.parallax img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0.5;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1, h2 {
    color: #fff;
    z-index: 1;
    position: relative;
    
}

h1 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: -5px;
}

select {
    font-family: Franklin Gothic;
    font-size: 13px;
}

#vis {
    height: 98vh;
    background-color: #0E151C;
}

path {
    fill: #0E151C;
}

text {
    fill: #FFF;
}

tspan:hover {
    cursor: pointer;
    font-style: italic;
}