html, body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} 

#header {
    text-align: center;
}

p {
padding: 0px 200px;
}

select {
    margin: 10px 0 0 10px;
}

#container {
    position: absolute;
    width: 100%;
    top: 179px;
    bottom: 0;
    margin: 0;
}

text {
    fill: black;
    cursor:pointer;
}